.avatar-canvas svg circle.hair {
  animation: hairMovement 2s infinite ease-in-out;
}

@keyframes hairMovement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
